
<container>
    <spacer size="15"></spacer>
    <row >
        <columns large="4"><img src="http://via.placeholder.com/190x100"></columns>
        <columns large="4"><img src="http://via.placeholder.com/190x100"></columns>
        <columns large="4"><img src="http://via.placeholder.com/190x100"></columns>
    </row>
    <row>
        <columns large="4"><h4>Header</h4></columns>
        <columns large="4"><h4>Header</h4></columns>
        <columns large="4"><h4>Header</h4></columns>
    </row>
    <row>
        <columns large="4"><p>The pace of technologies and software updates is ever-accelerating. Stay up-to-date without compromising your productivity with the Toolbox App</p></columns>
        <columns large="4"><p>Toolbox App makes handling several versions of a product easy and painless. No more worries about where to install or how to remove your favorite tool.</p></columns>
        <columns large="4"><p>Toolbox App shows all your projects in one list with your favorites at the top. </p></columns>
    </row>
    <row><columns><img src="http://via.placeholder.com/630x200"></columns></row>
    <row><columns><p>What if I already have some JetBrains tools installed?
        In most cases JetBrains Toolbox App can detect these IDEs and work with them, without supporting certain features. However, if you decide to stay with JetBrains Toolbox App, we'd recommend uninstalling these previously installed tools and re-installing them through Toolbox App.</p></columns></row>
</container>